<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand"  [routerLink]="['Transactions']">
            <img src="../../assets/col_logo2.png" style="width: 45px;height: 45px;">
            Columbus
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['Transactions']" routerLinkActive="active">Transactions <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['Itinerary']" routerLinkActive="active">Itinerariy</a>
            </li>
          </ul>
        </div>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic" style="background-color: transparent;border: none">
                  <span class="navbar-toggler-icon"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['About']">About</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['Settings']">Settings</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" (click)="onLogoutClick()">Logout</a>
            </li>
          </ul>
        </div>
    </nav>