<div class="container text-center">
  <div class="block-heading">
      <h2 class="text-info">About Us</h2>
      <p>Columbus is a web application responsible for monitoring and controling the ESB services.</p>
  </div>
  <hr>
  <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-4">
          <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="../../assets/pictures/sergei.jpg">
              <div class="card-body info">
                  <h4 class="card-title">Sergei kovalchuk</h4>
                  <p class="card-text">Developer</p>
                  <div class="icons"><a href="#"><i class="icon-user"></i></a></div>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-lg-4">
          <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="../../assets/pictures/tony.png">
              <div class="card-body info">
                  <h4 class="card-title">Tony The Octopus</h4>
                  <p class="card-text">The Development Team Mascot</p>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-lg-4">
          <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="../../assets/pictures/eden.jpg">
              <div class="card-body info">
                  <h4 class="card-title">Eden Hermelin</h4>
                  <p class="card-text">Hartitect</p>
                  <div class="icons"><a href="#"><i class="icon-user"></i></a></div>
              </div>
          </div>
      </div>
  </div>
</div>