<div class="container">
<form (ngSubmit)="onSubmit()" [formGroup]="queryForm">

  <label class="text-primary centered form-header-sized">General</label>
  <div class="form-group"><label class="text-secondary label-sized">Service:</label>
    <select formControlName="generalService" class="select-box-sized">
        <option [ngValue]="null" disabled>Select One Service</option>
        <option *ngFor="let generalService of generalServices" [value]="generalService">
         {{ generalService }}
        </option>
      </select> 
    </div>
  <hr>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
