.select-box-sized {
    width: 70%;
    position: absolute;
    right: 10px;
}

.label-sized {
    color: black!important;
    font-size:14px;
}

.centered {
    position: relative;
    left: 40%;
}

.form-header-sized {
    color:blue!important;
    font-size: 18px;
    font-weight: bold;
}