<accordion *ngFor="let item of list" style="min-width: 96vw;">
  <accordion-group>
    <p accordion-heading style="text-align: center">{{ item.TranID }}</p>
    <!-- now find a way to make it recursive with sub-services-->
    <accordion *ngFor="let event of item.Events" style="text-align: center">
      <accordion-group>
        <p accordion-heading style="text-align: center">{{event.EventID}}</p>
        <p>{{event.Description}}</p>
      </accordion-group>
    </accordion>
  </accordion-group>
</accordion>