<div class="wrapper" style="height: 90vh">
  <nav id="sidebar" [ngClass]="{active: !isActive()}" style="max-height: 100%">
    <app-transaction-query></app-transaction-query>
  </nav>
  <button type="button" id="sidebarCollapse" class="btn btn-info horizontal" (click)="onToggleSide()" (clickOutside)="onClickOutside()">
      <i class="fas fa-align-left"></i>
      <span>{{ collapse }}</span>
  </button>
  <div [ngClass]="{overlay: isActive()}"></div>
  <app-transaction-list class="tran-list"></app-transaction-list>
</div>

